{% extends 'base.html.twig' %}


{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
			<button type="button" class="alert-dismiss">
    			<span aria-hidden="true">&times;</span>
  			</button>
        </div>
    {% endfor %}

	<div class="container">
		<table class="table mt-2">
			<thead>
				<tr>
					<th>Name</th>
					<th>Location</th>
					<th>Hostname</th>
					<th>Port</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% if devices|length > 0 %}
					{% for device in devices %}
						<tr>
							<td>{{device.name}}</td>
							<td>{{device.location}}</td>
							<td>{{device.hostname}}</td>
							<td>{{device.port}}</td>
							<td><a href="{{path('deleteDevice', {'id': device.id})}}">Delete</a> <a href="#">Edit</a></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td>No devices</td>
					</tr>
				{% endif %}
			</tbody>
		</tbody>
	</table>

	<a href="{{path('smellpp')}}" class="btn btn-primary" role="button">Add new device</a>

</div>{% endblock %}

{% block scripts %}
	<script src="{{ asset('js/functionality.js') }}
{% endblock %}
